﻿f*
{
    scrollbar-face-color: #E6F2FD;
    scrollbar-highlight-color: #ffffff;
    scrollbar-shadow-color: #D6E4EF;
    scrollbar-3dlight-color: #F1F9FF;
    scrollbar-arrow-color: #006699;
    scrollbar-track-color: #F1F9FF;
    scrollbar-darkshadow-color: #F1F9FF;
}
body
{
    margin: 0px;
    color: #666;
    background-color: #FFF;
    font-family: Arial, Geneva, sans-serif;
    font-size: 12px;
}
form, ul, li
{
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}
table
{
    empty-cells: show;
    border-collapse: collapse;
}
a
{
    color: #005eac;
    text-decoration: none;
}
a:visited, a:active
{
    color: #005eac;
}
a:hover
{
    color: #ff5500;
}
img
{
    border: 0px;
    vertical-align: middle;
}

h1
{
    font-size: 14px;
}
.w250
{
    width: 250px;
}
.w380
{
    width: 380px;
}
.wh380
{
    width: 380px;
    height: 50px;
}
.submit
{
    background: url(../../Images/button_submit.gif) repeat-x #e3f1fa;
    border: 1px solid #aed0ea;
    padding: 0px 10px;
    height: 24px;
    line-height: 24px;
    color: #3d80b3;
    cursor: pointer;
}
.pagerSubmit
{
    background: url(../../Images/button_submit.gif) repeat-x #e3f1fa;
    color: #3d80b3;
        cursor: pointer;
}
.submitFocus
{
    background: url(../../Images/button_submit.gif) repeat-x #e3f1fa;
    border: 1px solid #aed0ea;
    padding: 0px 10px;
    height: 24px;
    line-height: 24px;
    color: #ffffff;
    cursor: pointer;
}
.button
{
    background: url(../../Images/button_submit.gif) repeat-x #e3f1fa;
    border: 1px solid #aed0ea;
    padding: 0px 10px;
    height: 24px;
    line-height: 24px;
    color: #3d80b3;
    cursor: pointer;
}
.input
{
    padding: 0px 3px;
    border: 1px solid #aaa4a4; /*background:url(../../Images/input_bg.jpg) repeat-x;*/
    height: 18px;
    line-height: 18px;
    font-size: 12px; /*color:#999;*/
}
.dropdownlist
{
    border: 1px solid #aaa4a4; /*background:url(../../Images/input_bg.jpg) repeat-x;*/
    height: 21px;
    line-height: 18px;
    font-size: 12px; /*color:#999;*/
    cursor: pointer; /*background-color: #ecf9ff;*/
}
.textarea
{
    padding: 3px;
    border: 1px solid #aaa4a4; /*background:url(../../Images/input_bg.jpg) repeat-x;*/
    font-size: 12px; /*color:#999;*/
}
.focus
{
    border: 1px solid #FC0 !important;
    background: url(../../Images/focus_bg.jpg) repeat-x !important;
    color: #00F !important;
}
.select
{
    padding: 1px;
    border: 1px solid #CDCDCD;
    background: #FDFEEF;
}
.keyword
{
    border: 1px solid #CDCDCD;
    background: #FDFEEF;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}
#login_body
{
    position: absolute;
    margin: -100px 0 0 -200px;
    width: 400px;
    top: 50%;
    left: 50%;
}

.login_btn
{
    width: 82px;
    height: 81px;
    margin: 25px 0 0 20px;
    _margin-left: 0px;
}

.tipbox
{
    font-size: 12px;
    color: #F00;
    line-height: 26px;
}

.left
{
    float: left;
}
.right
{
    float: right;
}
.clear
{
    clear: both;
}
.spClear
{
    clear: both;
    height: 10px;
}
.mouse
{
    cursor: pointer;
}
#login_footer
{
    text-align: center;
    color: #999999;
}

.fragment
{
    float: left;
    width: 100%;
}
/* 顶部菜单 */
#tabs
{
    float: left; /*font-family:"微软雅黑";*/ /*font-weight:bold;*/
    width: auto;
    line-height: normal;
}
#tabs ul
{
    margin: 0; /*padding:26px 10px 0 0px !important; 	*padding:27px 10px 0 0px !important; 	padding:27px 10px 0 0px;*/
    list-style: none;
}
#tabs ul li
{
    display: inline;
    margin: 0;
    padding: 0;
}
#tabs ul li a
{
    float: left;
    margin: 0;
    padding: 0 0 0 4px;
    background: #edf6fd;
    text-decoration: none;
}
#tabs ul li a span
{
    float: left;
    display: block;
    color: #666;
    background: #edf6fd;
    padding: 6px 8px 6px 6px;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs ul li a span
{
    float: none;
}
/* End IE5-Mac hack */
#tabs ul li a:hover
{
    color: #cc0066;
    background: #d5eaf9;
    background-position: 0% -42px;
}
#tabs ul li a:hover span
{
    color: #ff5500;
    background: #d5eaf9;
    background-position: 100% -42px;
}
#tabs .hover a
{
    color: #ff5500;
    background: #d5eaf9;
    background-position: 0% -42px;
    font-weight: bold;
}
#tabs .hover a span
{
    color: #cc0066;
    background: #d5eaf9;
    background-position: 100% -42px;
    font-weight: bold;
}

/* 左边导航菜单 */
.left_menu
{
    text-align: left; /*font-family:"微软雅黑";*/
}
.left_menu ul
{
    margin-top: 10px;
    padding-left: 10px;
}
.left_menu ul li
{
    padding-left: 15px;
    background: url(left_menu_bg.gif) no-repeat;
}
.left_menu ul li a
{
    padding-left: 10px;
    line-height: 25px;
    background: url(ico_01.gif) 0px center no-repeat;
}
/* 当前位置 */
.loginnavigation
{
    padding: 6px 10px 6px 5px;
    color: #2F7EAE;
    border: 1px solid #E4E1FF;
    background: url(../../Images/nav_bg.gif) repeat;
}
.navigation
{
    padding: 6px 10px 6px 5px;
    color: #2F7EAE;
    border: 1px solid #E4E1FF;
    background: url(../../Images/nav_bg.gif) repeat-x;
}
.navigation b
{
    padding-left: 25px; /*background:url(../../Images/home.gif) 5px center no-repeat #F8F7FF;*/
    background: url(../../Images/home.gif) 5px center no-repeat;
    font-weight: bold;
    color: #cc0066;
}
.navigation .add
{
    float: right;
    padding-left: 15px;
    background: url(../../Images/add.gif) no-repeat 0 0;
}
.navigation .back
{
    float: right;
    padding-left: 15px;
    background: url(../../Images/back.gif) no-repeat 0 0;
}
.warning
{
    padding: 8px 10px 8px 30px;
    border: 1px solid #FAF4B8;
    color: #C52716;
    background: url(../../Images/warning.gif) 8px center no-repeat #FEFDE9;
}
.correct
{
    padding: 8px 10px 8px 30px;
    border: 1px solid #CCF9C1;
    color: #090;
    background: url(correct.gif) 8px center no-repeat #F1FEF2;
}
.disable
{
    padding: 8px 10px 8px 30px;
    border: 1px solid #F9F2B7;
    color: #F00;
    background: url(../../Images/disable.gif) 8px center no-repeat #FDF8E8;
}
.btn_bg
{
    width: 200px;
}
.btn_bg a
{
    padding: 1px 8px;
    color: #000;
    border: 1px solid #70b1cf;
    background: url(../../Images/btn_bg.gif) repeat-x;
}
.btn_bg a:hover
{
    padding: 1px 8px;
    color: #fff;
    border: 1px solid #70b1cf;
    background: url(../../Images/btn_bg.gif) repeat-x;
}
.btn_all
{
    padding: 1px 8px;
    color: #000;
    border: 1px solid #70b1cf;
    background: url(../../Images/btn_bg.gif) repeat-x;
    cursor: pointer;
}
.msgtable
{
    border: 1px solid #EDECFF;
}
.msgtable th
{
    padding: 0.5em;
    font-weight: 700; /*border:1px solid #EDECFF;*/
    border-bottom: 1px solid #F3F3F3;
}
.msgtable td
{
    padding: 0.2em;
    border-bottom: 1px solid #F3F3F3;
}
.msgtable th
{
    /*background:#F8F7FF;*/
    background: url(../../Images/table_th_bg.gif) bottom;
}
.msgtable .showMessage
{
    color: #cc0066;
    text-align: left;
}

.msgtablelist
{
    border: 1px solid #EDECFF;
}
.msgtablelist th
{
    padding: 0.2em;
    font-weight: 700;
    text-align: left; /*border:1px solid #EDECFF;*/
}
.msgtablelist td
{
    padding: 0.2em;
    border-bottom: 1px solid #F3F3F3;
    text-align: left;
}
.msgtablelist th
{
    /*background:#F8F7FF;*/
    background: url(../../Images/table_th_bg.gif) bottom;
}
.msgtablelist th input
{
    vertical-align: middle;
}
.tr_bg
{
    background: #F9F9F9;
}
.tr_hover_col
{
    background: #EAEAEA;
}
.navtable
{
    padding: 0.6em;
    border: 1px solid #EDECFF;
}
.navtable td
{
    width: 80px;
}
.title5
{
    background: url("../../Images/titlebg2.gif");
    width: 80px;
    cursor: hand;
    line-height: 120%;
    padding-top: 2px;
    text-align: center;
    height: 20px;
}
.title6
{
    font-weight: normal;
    background: url("../../Images/titlebg1.gif");
    width: 80px;
    cursor: hand;
    color: #ffffff;
    padding-top: 2px;
    text-align: center;
    height: 20px;
}
/*提示文字样式*/
#HintMsg
{
    width: 271px;
    position: absolute;
    display: none;
}
#HintMsg .HintTop
{
    height: 9px;
    background: url(../../Images/hintbg1.gif) no-repeat;
    overflow: hidden;
}
#HintMsg .HintInfo
{
    padding: 0 5px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    background: #FFFFE1;
    line-height: 1.5em;
}
#HintMsg .HintInfo b
{
    display: block;
    margin-bottom: 6px;
    padding-left: 15px;
    background: url(../../Images/hint.gif) left center no-repeat;
    height: 13px;
    line-height: 16px;
}
#HintMsg .HintInfo b span
{
    display: block;
    float: right;
    text-indent: -9999px;
    background: url(../../Images/close.gif) no-repeat;
    width: 12px;
    height: 12px;
    cursor: pointer;
}
#HintMsg .HintFooter
{
    height: 22px;
    background: url(../../Images/hintbg2.gif) no-repeat;
}
/*设置提示样式*/

.icon-01
{
    margin: 0;
    padding: 10px 0 0 80px;
    color: #4D4D4D; /*font-family:"微软雅黑";*/
    line-height: 1.8em;
    min-height: 60px;
    background: url(../../Images/icon-01.gif) no-repeat 10px 10px;
}
.icon-02
{
    margin: 0;
    padding: 10px 0 0 80px;
    color: #4D4D4D; /*font-family:"微软雅黑";*/
    line-height: 1.8em;
    min-height: 60px;
    background: url(../../Images/icon-02.gif) no-repeat 10px 10px;
}
.icon-03
{
    margin: 0;
    padding: 10px 0 0 80px;
    color: #4D4D4D; /*font-family:"微软雅黑";*/
    line-height: 1.8em;
    min-height: 60px;
    background: url(../../Images/icon-03.gif) no-repeat 10px 10px;
}
.icon-01 b
{
    display: block;
    color: #090;
    font-size: 14px;
    line-height: 2.0em;
}
.icon-02 b
{
    display: block;
    color: #F00;
    font-size: 14px;
    line-height: 2.0em;
}
.icon-03 b
{
    display: block;
    color: #FC0;
    font-size: 14px;
    line-height: 2.0em;
}

/*页面居中显示*/
.pcent
{
    top: 35%;
    right: 35%;
    position: absolute;
    display: none;
}

/*验证表单样式*/
span.error
{
    margin-left: 5px;
    padding-left: 25px;
    color: #F00;
    background: url(../../Images/error.gif) left center no-repeat;
}
span.success
{
    margin-left: 5px;
    padding-left: 25px;
    color: #999;
    background: url(../../Images/success.gif) left center no-repeat;
}
/*其它样式*/
.hide
{
    display: none;
}
.up-01, .up-02
{
    display: block;
    float: right;
    padding-left: 20px;
    cursor: pointer;
    line-height: 17px;
}
.up-01
{
    background: url(../../Images/top_ico1.gif) no-repeat 0 center;
}
.up-02
{
    background: url(../../Images/top_ico2.gif) no-repeat 0 center;
}
/*大图预览提示*/
#imgtip
{
    position: absolute;
    border: 1px solid #ccc;
    background: #fff;
    padding: 2px;
    display: none;
}
.comment
{
    color: #06F;
    line-height: 1.0em;
}
/*图文列表显示样式*/
.pro_img_list
{
    margin: 0;
    padding: 0;
    min-width: 800px;
    position: relative;
}
.pro_img_list ul
{
    margin: 0 0 0 -20px;
}
.pro_img_list ul li
{
    float: left;
    margin: 0 0 10px 20px;
    padding: 5px 10px;
    width: 120px;
    height: 168px;
    border: 1px solid #bce5f8;
    background: url(../../Images/pro_bg.gif) repeat-x;
    overflow: hidden;
}
.pro_img_list ul li .nTitle
{
    padding-bottom: 5px;
    line-height: 20px;
    height: 20px;
    color: #005eac;
}
.pro_img_list ul li .nImg img
{
    width: 120px;
    height: 120px;
}
.pro_img_list ul li .nBtm
{
    padding-top: 5px;
    height: 16px;
}
.pro_img_list ul li .nBtm img
{
    vertical-align: middle;
}
/*预览按钮样式*/
a.preview
{
    margin: 0 auto;
    float: left;
    width: 18px;
    height: 18px;
    overflow: hidden;
    display: block;
    border: 1px solid #70b1cf;
    background: url(../../Images/preview.png) left top no-repeat;
    text-decoration: none;
}
/*file容器样式*/
a.files
{
    margin: 0 auto;
    float: left;
    width: 18px;
    height: 18px;
    overflow: hidden;
    display: block;
    border: 1px solid #70b1cf;
    background: url(../../Images/upload_file.png) left top no-repeat;
    text-decoration: none;
}
/*delete容器样式*/
a.delete
{
    margin: 0 auto;
    float: left;
    width: 18px;
    height: 18px;
    overflow: hidden;
    display: block;
    border: 1px solid #70b1cf;
    background: url(../../Images/cancel.png) left top no-repeat;
    text-decoration: none;
}
/*file设为透明，并覆盖整个触发面*/
a.files input
{
    margin-left: -240px;
    font-size: 20px;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
}
/*取消点击时的虚线框*/
a.files, a.files input
{
    outline: none; /*ff*/
    hide-focus: expression(this.hideFocus=true); /*ie*/
}
/*pictures容器样式*/
a.pictures
{
    margin: 0 auto;
    float: left;
    width: 18px;
    height: 18px;
    overflow: hidden;
    display: block;
    border: 1px solid #70b1cf;
    background: url(../../Images/upload_pic.png) left top no-repeat;
    text-decoration: none;
}
/*pictures设为透明，并覆盖整个触发面*/
a.pictures input
{
    margin-left: -240px;
    font-size: 20px;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
}
/*取消点击时的虚线框*/
a.pictures, a.files input
{
    outline: none; /*ff*/
    hide-focus: expression(this.hideFocus=true); /*ie*/
}
/*上传文件时切换图片*/
.filesbg2
{
    background: url(../../Images/upload_file.png) left top no-repeat !important;
}
.uploading
{
    float: left;
    background: url(../../Images/loading.gif) no-repeat left center;
    padding-left: 18px;
    display: none;
    line-height: 20px;
    height: 20px;
}

.line5
{
    clear: both;
    font-size: 1px;
    height: 5px;
    overflow: hidden;
}
/*图文容器样式*/
a.upfiles
{
    margin: 0 auto;
    width: 90px;
    height: 30px;
    overflow: hidden;
    display: block;
    border: 1px solid #BEBEBE;
    background: url(../../Images/btn_upload.gif) left top no-repeat;
    text-decoration: none;
}
a.upfiles:hover
{
    background-color: #FFFFEE;
    background-position: 0 -30px;
}
/*file设为透明，并覆盖整个触发面*/
a.upfiles input
{
    margin-left: -350px;
    font-size: 30px;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
}
/*取消点击时的虚线框*/
a.upfiles, a.upfiles input
{
    outline: none; /*ff*/
    hide-focus: expression(this.hideFocus=true); /*ie*/
}

/*相框图片显示*/
.imgbox
{
    border: 2px solid #999;
    padding: 10px;
    width: 180px;
    height: 180px;
    text-align: center;
    vertical-align: baseline;
    background: url(noimg.gif) no-repeat center center;
}
.imgbox img
{
    max-width: 180px;
    max-height: 180px; /*IE6*/
    _width: expression(this.width>180&&this.width>this.height?180:true);
    _height: expression(this.height>180?180:true);
}
.imgItems
{
    margin-top: 5px;
    width: 204px;
    overflow: hidden;
}
.imgItems ul
{
    width: 220px;
    list-style: none;
}
.imgItems ul li
{
    float: left;
    margin: 0 10px 5px 0;
    border: 1px solid #EEE;
    padding: 3px;
    width: 53px;
    height: 73px;
    text-align: center;
    vertical-align: baseline;
    position: relative;
}
.imgItems ul li img
{
    border-width: 0px;
    max-width: 50px;
    max-height: 50px;
    vertical-align: baseline; /*IE6*/
    _width: expression(this.width>50&&this.width>this.height?50:true);
    _height: expression(this.height>50?50:true);
}
.imgItems ul li a
{
    top: 58px;
    left: 3px;
    width: 44px;
    position: absolute;
    background: #999;
    padding-left: 10px;
    display: block;
    background: url(delimg.gif) no-repeat 5px 2px;
    text-decoration: none;
    font-size: 12px;
    color: #333;
    cursor: pointer;
    line-height: 18px;
    height: 18px;
    overflow: hidden;
}
.imgItems ul li a:hover
{
    text-decoration: none;
    color: #999;
    background-position: 5px -11px;
}
.filebtn
{
    text-align: center;
    width: 200px;
}


/*自动提示样式*/
.selectList
{
    position: absolute;
    cursor: pointer;
    background-color: #ecf9ff;
    filter: Alpha(opacity=90);
    -moz-opacity: .9;
    opacity: 0.9;
    z-index: 1000;
}
.selectList td
{
    padding-bottom: 5px;
}
.selectedItem
{
    background: #EAEAEA;
    font-weight: bold;
    color: #cc0066;
}

/*主页样式*/
.layout
{
    background: url(head_bg_line.gif) repeat-x left top #e5edef;
}
.veilogo
{
    display: block;
    width: 98px;
    height: 50px;
    background: url(../../images/veilogo.png) no-repeat;
    text-indent: -9999px;
    float: left;
    margin-left: 8px;
}
.logo
{
    display: block;
    width: 233px;
    height: 50px;
    background: url(../../images/head_logo.png) no-repeat;
    text-indent: -9999px;
    float: left;
}
.header
{
    background: url(../../images/head_bg.gif) repeat-x left bottom;
    color: #E8E8E8;
    font-family: Verdana, Geneva, sans-serif;
}
.header a
{
    color: #E8E8E8;
    text-decoration: none;
}
.header a:hover
{
    color: #FF0;
    text-decoration: none;
}
.header .header_box
{
    height: 60px;
    padding-top: 8px;
}
.header .header_box .header_right
{
    float: right;
    margin: 5px 10px auto auto;
    text-align: right;
    line-height: 20px;
}
.header .header_box .header_right span
{
    padding-left: 18px;
    background: url(memeber.gif) left center no-repeat;
}
.header .header_box .header_right span b
{
    font-weight: normal;
    color: #FF0;
}

.footer
{
    text-align: left;
    background: url(foot_bg.gif) repeat-x #EBF5FC;
}
.footer .copyright
{
    height: 24px;
    line-height: 24px;
    padding: 0px 10px;
    font-size: 10px;
    color: #2C89AD;
}


/*Tree样式*/
.HoverNodeStyle
{
    font-weight: bold;
    font-size: 14px;
    color: #1C5E55;
}
.NodeStyle
{
    color: #1C5E55;
}
.SelectedNodeStyle
{
    font-weight: bold;
    color: #cc0066;
}
/*   *样式   */
.star
{
    padding-left: 5px;
    color: #cc0066;
    font-size: 13px;
    font-weight: bold;
}

/*输入大小写样式*/
.inputUpper
{
    text-transform: uppercase;
}
.inputLower
{
    text-transform: lowercase;
}

/*aspnetpager控件样式*/
.asppager .cpb
{
    background: #0061de none repeat scroll 0 0;
    border: 1px solid #dedfde;
    color: #FFFFFF;
    font-weight: bold;
    margin-right: 3px;
    padding: 2px 6px 2px 6px;
}
.asppager a
{
    background: #FFFFFF none repeat scroll 0 0;
    border: 1px solid #dedfde;
    color: #0061de;
    margin-right: 3px;
    padding: 2px 6px 2px 6px;
    background-position: 50% bottom;
    text-decoration: none;
}
.asppager a:hover
{
    background: #0061de none repeat scroll 0 0;
    border: 1px solid #dedfde;
    color: #FFFFFF;
}

.asppagercustom
{
    padding: 0px 20px 0 0;
    margin: 0px;
}


.asppager2 .cpb
{
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-family: Verdana;
    font-size: 12px;
}
.asppager2 a
{
    border-right: #dedfde 1px solid;
    padding-right: 6px;
    background-position: 50% bottom;
    border-top: #dedfde 1px solid;
    padding-left: 6px;
    padding-bottom: 2px;
    border-left: #dedfde 1px solid;
    color: #0061de;
    margin-right: 3px;
    padding-top: 2px;
    border-bottom: #dedfde 1px solid;
    text-decoration: none;
}
.asppager2 a:hover
{
    border-right: #000 1px solid;
    border-top: #000 1px solid;
    background-image: none;
    border-left: #000 1px solid;
    color: #fff;
    border-bottom: #000 1px solid;
    background-color: #0061de;
}
.asppager2 a:active
{
    border-right: #000 1px solid;
    border-top: #000 1px solid;
    background-image: none;
    border-left: #000 1px solid;
    color: #fff;
    border-bottom: #000 1px solid;
    background-color: #0061de;
}
.asppager2 span.current
{
    padding-right: 6px;
    padding-left: 6px;
    font-weight: bold;
    padding-bottom: 2px;
    color: #ff0084;
    margin-right: 3px;
    padding-top: 2px;
}
.asppager2 span.disabled
{
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 2px;
    color: #adaaad;
    margin-right: 3px;
    padding-top: 2px;
}

.noMeetPicked
{
    color:Red;
     font-weight:bold;
    }
