﻿body {	
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;	
	background-repeat: repeat-x;
	font-size: 9pt;
}
td	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt; 
	}
a:visited {
	color: #333;
	text-decoration: none;
}
a:hover {
	color: #1639A9;
	text-decoration: underline;
}
a:link {
	color: #333;
	text-decoration: none;
}
.link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.65em;
	text-transform: uppercase;
	color: #333333;
	text-indent: 10px;
}

.disabledLink 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.65em;
	text-transform: uppercase;
	color: #999999;
	text-indent: 10px;
}

/*左框架树背景色*/
.tree_bgcolor
{
	background-color:#ffe3e5;	
}
/*左框架树背景图*/
.leftbj_bgimage 
{
	background-image: url(../../images/left-bj-1.gif);	
}
.left1_bgimage
{
	background-image: url(../../images/left-1-1.gif);	
}
.left2_bgimage
{
	background-image: url(../../images/left-2-1.gif);	
}
.left3_bgimage
{
	background-image: url(../../images/left-3-1.gif);	
}

/*分隔块色*/
.spliter_color
{
	background-color:#C94F4F;	
}

/*顶框背景图片*/
.top1_bgimage
{
	background-image: url(../../images/top-1-1.gif);
}
.top2_bgimage
{
	background-image: url(../../images/top-2-1.gif);
}
.top3_bgimage
{
	background-image: url(../../images/top-3-1.gif);
}
.top4_bgimage
{
	background-image: url(../../images/top-4-1.gif);
}
.top5_bgimage
{
	background-image: url(../../images/top-5-1.gif);
}
.topbj_bgimage
{
	background-image: url(../../images/top-bj-1.gif);
}

/*顶框工具条背景图片*/
.topbar_bgimage
{
	background-image: url(../../images/topbar_01.jpg);
}

/* main背景图片*/
.firstpage_bgimage
{
	background-image: url(../../images/dbsx_01.gif);
}

.desktop_bj
{
	background-image: url(../../images/right-bj-1.gif);	
}
.desktop_bgimage
{
	background-image: url(../../images/right-1.gif);	
}


/*最外层表格背景*/
.table_bgcolor
{
	background-color:#FFF5F5;
}

/*表格边框色*/
.table_bordercolor
{
	m1:expression(this.borderColorLight='#BD7B7B');/*中层表格亮边框*/
    m2:expression(this.borderColorDark='#E1D3D3');/*中层表格暗边框*/
}

/*中层表格标题栏*/
.table_titlebgcolor
{
	background-color:#FFE3E3;
}


/*表单中必填字段*颜色*/
.form_requestcolor
{
	color:#E78A29;

}


