﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Modify.aspx.cs" Inherits="Edge.Web.Operation.CouponManagement.BatchCreationOfCoupons.Modify" %>

<%@ Register Src="~/Controls/checkright.ascx" TagName="checkright" TagPrefix="uc2" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <script type="text/javascript" src='<%#GetjQueryPath() %>'></script>
    <script type="text/javascript" src='<%#GetjQueryValidatePath() %>'></script>
    <script type="text/javascript" src='<%#GetJSMultiLanguagePath() %>'></script>
    <script type="text/javascript" src='<%#GetJSFunctionPath()%>'></script>
    <script type="text/javascript" src='<%#GetMy97DatePickerPath() %>'></script>
    <script type="text/javascript">
        $(function () {
            //表单验证JS
            $("#form1").validate({
                //出错时添加的标签
                errorElement: "span",
                success: function (label) {
                    //正确时的样式
                    label.text(" ").addClass("success");
                }
            });
        });

    </script>
</head>
<body style="padding: 10px;">
    <form id="form1" runat="server">
    <div class="navigation">
        <span class="back"><a href="#"></a></span><b>您当前的位置：<%=this.PageName %></b>
    </div>
    <div style="padding-bottom: 10px;">
    </div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="msgtable">
        <tr>
            <th colspan="2" align="left">
                <%=this.PageName %>
            </th>
        </tr>
        <tr>
            <td align="right">
                交易编号：
            </td>
            <td>
                <asp:Label ID="CouponCreateNumber" runat="server"></asp:Label>
            </td>
        </tr>
        <tr>
            <td align="right">
                交易状态：
            </td>
            <td>
                <asp:Label ID="lblApproveStatus" runat="server" Text="P"></asp:Label>
            </td>
        </tr>
        <tr>
            <td align="right">
                交易创建工作日期：
            </td>
            <td>
                <asp:Label ID="CreatedBusDate" runat="server"></asp:Label>
            </td>
        </tr>
        <%--               <tr>
            <td align="right">
                审批工作日期：
            </td>
            <td>
                <asp:Label ID="lblApproveBusDate" runat="server" ></asp:Label>
            </td>
        </tr>--%>
        <tr>
            <td align="right">
                交易创建时间：
            </td>
            <td>
                <asp:Label ID="CreatedOn" runat="server"></asp:Label>
            </td>
        </tr>
        <tr>
            <td align="right">
                创建人：
            </td>
            <td>
                <asp:Label ID="lblCreatedBy" runat="server"></asp:Label>
            </td>
        </tr>
        <tr>
            <td align="right">
                备注：
            </td>
            <td>
                <asp:TextBox ID="Note" TabIndex="1" runat="server" MaxLength="512" CssClass="input"></asp:TextBox>
            </td>
        </tr>
        <%-- <tr>
            <td align="right">
                审核日期：
            </td>
            <td>
                <asp:Label ID="lblUpdatedOn" runat="server" ></asp:Label>
            </td>
        </tr>
           <tr>
            <td align="right">
                审核员：
            </td>
            <td>
                <asp:Label ID="lblUpdatedBy" runat="server" ></asp:Label>
            </td>
        </tr>--%>
        <tr>
            <th colspan="2" align="left">
                交易资料
            </th>
        </tr>
        <tr>
            <td width="25%" align="right">
                优惠券类型：
            </td>
            <td width="75%">
                <asp:DropDownList ID="CouponTypeID" TabIndex="2" runat="server" CssClass="dropdownlist required"
                    AutoPostBack="True" OnSelectedIndexChanged="CouponTypeID_SelectedIndexChanged">
                </asp:DropDownList>
                <span class="star">*</span>
            </td>
        </tr>
        <tr>
            <td align="right">
                优惠券批次编号：
            </td>
            <td>
                <asp:TextBox ID="BatchCouponID" runat="server" MaxLength="512" CssClass="input" Enabled="False"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td align="right">
                活动：
            </td>
            <td>
                <asp:TextBox ID="CampaignID" TabIndex="2" runat="server" Enabled="false" CssClass="input">
                </asp:TextBox>
            </td>
        </tr>
        <tr>
            <td align="right">
                面额：
            </td>
            <td>
                <asp:TextBox ID="InitAmount" TabIndex="3" runat="server" MaxLength="512" CssClass="input required svaAmount"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td align="right">
                状态：
            </td>
            <td>
                <asp:TextBox ID="txtCouponStatus" runat="server" Enabled="false"></asp:TextBox>
            </td>
        </tr>
         <tr>
            <td align="right">
                已创建优惠券的数量：
            </td>
            <td>
                <asp:TextBox ID="CreatedCoupons" TabIndex="4" runat="server" MaxLength="512" Enabled="false"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td align="right">
                剩余可创建优惠券数量：
            </td>
            <td>
                <asp:TextBox ID="RemainCoupons" TabIndex="4" runat="server" MaxLength="512" Enabled="false"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td align="right">
                已创建的最后一个优惠券号码：
            </td>
            <td>
                <asp:TextBox ID="LastCreatedCoupons" TabIndex="4" runat="server" MaxLength="512"
                    Enabled="false"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td align="right">
                优惠券的数量：
            </td>
            <td>
                <asp:TextBox ID="CouponCount" TabIndex="4" runat="server" MaxLength="512" CssClass="input required svaQty"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td align="right">
                创建日期：
            </td>
            <td>
                <asp:TextBox ID="IssuedDate" TabIndex="5" runat="server" MaxLength="512" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'ExpiryDate\',{d:0});}'})"
                    CssClass="input " Enabled="false"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td align="right">
                过期日期：
            </td>
            <td>
                <asp:TextBox ID="ExpiryDate" TabIndex="6" runat="server" MaxLength="512" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'IssuedDate\',{d:0});}'})"
                    CssClass="input required"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <asp:Label ID="lblMsg" runat="server" ForeColor="Red"></asp:Label>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <div align="center">
                    <asp:Button ID="btnSave" runat="server" Text="提交" OnClick="btnSave_Click" CssClass="submit"
                        OnClientClick="return confirm( 'Are you sure? ');"></asp:Button>
                    <input type="button" name="button1" value="返 回" onclick="location.href= 'List.aspx'"
                        class="submit" />
                    &nbsp;</div>
            </td>
        </tr>
    </table>
    <div style="margin-top: 10px; text-align: center;">
    </div>
    <uc2:checkright ID="Checkright1" runat="server" />
    </form>
</body>
</html>
