﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Approve.aspx.cs" Inherits="Edge.Web.Operation.CouponManagement.OrderManagement.CouponDelivery.Approve" %>

<%@ Register Src="~/Controls/checkright.ascx" TagName="checkright" TagPrefix="uc2" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <script type="text/javascript" src='<%#GetjQueryPath() %>'></script>
    <script type="text/javascript" src='<%#GetJSFunctionPath()%>'></script>
</head>
<body style="padding: 10px;">
    <form id="form1" runat="server">
    <%-- <script language="javascript">
        function printdiv(printpage) {
            window.focus();
            var headstr = "<html><head><title></title></head><body>";
            var footstr = "</body>";
            var newstr = document.all.item(printpage).innerHTML;
            var oldstr = document.body.innerHTML;
            document.body.innerHTML = headstr + newstr + footstr;
            window.print();
            document.body.innerHTML = oldstr;
            return false;
        }
        function preview() {
            bdhtml = window.document.body.innerHTML;
            sprnstr = "<!--startprint-->";
            eprnstr = "<!--endprint-->";
            prnhtml = bdhtml.substr(bdhtml.indexOf(sprnstr) + 17);
            prnhtml = prnhtml.substring(0, prnhtml.indexOf(eprnstr));
            window.document.body.innerHTML = prnhtml;
            window.print();
        }
    </script>--%>
    <div class="navigation">
        <span class="back"><a href="#"></a></span><b>您当前的位置：<%=this.PageName %></b>
    </div>
    <div style="padding-bottom: 10px;">
    </div>
    <asp:Repeater ID="rptList" runat="server">
        <HeaderTemplate>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="msgtablelist">
        </HeaderTemplate>
        <ItemTemplate>
            <tr>
                <th colspan="2" align="left">
                    <%=this.PageName %>
                </th>
            </tr>
            <tr>
                <td width="25%">
                    交易编号:
                </td>
                <td width="75%">
                    <asp:Label ID="TxnNo" runat="server" Text='<%#Eval("TxnNo") %>'></asp:Label>
                </td>
            </tr>
            <tr style="text-align: center; color: Red; font-size: large;">
                <td>
                    <%#Eval("ApprovalMsg")%>
                </td>
                <td>
                    <asp:Label ID="errorMsg" runat="server" Text='<%#Eval("ApproveCode") %>'></asp:Label>
                </td>
            </tr>
        </ItemTemplate>
        <FooterTemplate>
            </table>
        </FooterTemplate>
    </asp:Repeater>
    <div style="padding-bottom: 10px;">
        <div style="text-align: center;">
            <input type="button" value="关 闭" class="submit" onclick="javascript:window.top.tb_remove();parent.frames['sysMain'].location.href= 'List.aspx' " />
            <asp:Button ID="btnPrint" runat="server" Text="打印" CssClass="submit" OnClientClick="printdiv('div_print')" />
        </div>
    </div>
    <asp:RadioButtonList ID="NeedActive" runat="server" RepeatDirection="Horizontal">
        <asp:ListItem Value="1" Text="是"></asp:ListItem>
        <asp:ListItem Value="1" Text="否" Selected="True"></asp:ListItem>
    </asp:RadioButtonList>
    <asp:RadioButtonList ID="CustomerType" runat="server" RepeatLayout="Table" RepeatDirection="Horizontal">
        <asp:ListItem Text="客户订货" Value="1"></asp:ListItem>
        <asp:ListItem Text="店铺订货" Value="2" Selected="True"></asp:ListItem>
    </asp:RadioButtonList>
    <asp:DropDownList ID="SendMethod" runat="server" CssClass="dropdownlist">
        <asp:ListItem Text="直接交付（打印）" Value="1" Selected="True"></asp:ListItem>
        <asp:ListItem Text="SMS" Value="2"></asp:ListItem>
        <asp:ListItem Text="Email" Value="3"></asp:ListItem>
        <asp:ListItem Text="Social Network" Value="4"></asp:ListItem>
    </asp:DropDownList>
    <div id="div_print" runat="server">
        <!--startprint-->
        <asp:Repeater ID="rptOrders" runat="server" OnItemDataBound="rptOrders_ItemDataBound">
            <ItemTemplate>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="msgtable">
                    <tr>
                        <th colspan="4" align="center">
                            发货单列表
                        </th>
                    </tr>
                    <tr>
                        <th colspan="4" align="left">
                            交易信息
                        </th>
                    </tr>
                    <tr>
                        <td align="right" width="15%">
                            交易编号：
                        </td>
                        <td width="35%">
                            <%#Eval("CouponDeliveryNumber")%>
                        </td>
                        <td align="right" width="15%">
                            交易状态：
                        </td>
                        <td width="35%">
                            <%#Eval("ApproveStatus")%>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            交易创建工作日期：
                        </td>
                        <td>
                            <%#Eval("CreatedBusDate")%>
                        </td>
                        <td align="right">
                            交易批核工作日期：
                        </td>
                        <td>
                            <%#Eval("ApproveBusDate")%>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            交易创建时间：
                        </td>
                        <td>
                            <%#Eval("CreatedOn")%>
                        </td>
                        <td align="right">
                            创建人：
                        </td>
                        <td>
                            <%#Eval("CreatedBy")%>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            批核时间：
                        </td>
                        <td>
                            <%#Eval("ApproveOn")%>
                        </td>
                        <td align="right">
                            批核人：
                        </td>
                        <td>
                            <%#Eval("ApproveBy")%>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            授权号：
                        </td>
                        <td>
                            <%#Eval("ApprovalCode")%>
                        </td>
                        <td align="right">
                            备注：
                        </td>
                        <td>
                            <%#Eval("Remark")%>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            是否激活优惠券：
                        </td>
                        <td colspan="3">
                            <%#Eval("NeedActive")%>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="4" align="left">
                            订单信息
                        </th>
                    </tr>
                    <tr>
                        <td align="right" colspan="1">
                            订单类型：
                        </td>
                        <td>
                            <%#Eval("CustomerType")%>
                        </td>
                        <td align="right">
                            订货数量:
                        </td>
                        <td>
                            <%#Eval("OrdersCount")%>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            订货品牌：
                        </td>
                        <td>
                            <%#Eval("Brand")%>
                        </td>
                        <td align="right">
                            店铺：
                        </td>
                        <td>
                            <%#Eval("StoreID")%>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            订货客户：
                        </td>
                        <td>
                            <%#Eval("CustomerID")%>
                        </td>
                        <td align="right">
                            送货单发送方式：
                        </td>
                        <td>
                            <%#Eval("SendMethod")%>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            送货地址：
                        </td>
                        <td>
                            <%#Eval("SendAddress")%>
                        </td>
                        <td align="right">
                            联系人：
                        </td>
                        <td>
                            <%#Eval("ContactName")%>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            邮件发送：
                        </td>
                        <td>
                            <%#Eval("Email")%>
                        </td>
                        <td align="right">
                            SMS/MMS发送：
                        </td>
                        <td>
                            <%#Eval("SMSMMS")%>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            联系电话：
                        </td>
                        <td>
                            <%#Eval("ContactNumber")%>
                        </td>
                        <td align="right">
                            备注：
                        </td>
                        <td>
                            <%#Eval("Remark")%>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <asp:Repeater ID="rptOrderList" runat="server" OnItemDataBound="rptOrderList_ItemDataBound">
                                <HeaderTemplate>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="msgtablelist">
                                        <tr>
                                            <th width="6%">
                                                序号
                                            </th>
                                            <th width="10%">
                                                优惠劵类型编号
                                            </th>
                                            <th width="10%">
                                                优惠劵类型
                                            </th>
                                            <%--    <th width="10%">
                                    优惠券级别编号
                                </th>
                                <th width="6%">
                                    优惠券级别
                                </th>--%>
                                            <th width="10%">
                                                订单数量
                                            </th>
                                            <th width="10%">
                                                捡货数量
                                            </th>
                                            <th width="10%">
                                                优惠券起始编号
                                            </th>
                                            <th width="10%">
                                                优惠券结束编号
                                            </th>
                                            <%--                            <th width="10%">
                                    优惠券批次编号
                                </th>--%>
                                            <%--                                <th width="10%">
                                    捡货时间
                                </th>--%>
                                        </tr>
                                </HeaderTemplate>
                                <ItemTemplate>
                                    <tr>
                                        <td align="center">
                                            <asp:Label ID="lblSeq" runat="server" Text=''></asp:Label>
                                        </td>
                                        <td align="center">
                                            <asp:Label ID="lblCouponTypeCode" runat="server" Text='<%#Eval("CouponTypeCode")%>'></asp:Label>
                                        </td>
                                        <td align="center">
                                            <asp:Label ID="lblCouponType" runat="server" Text='<%#Eval("CouponType")%>'></asp:Label>
                                        </td>
                                        <%-- <td align="center">
                             <asp:Label ID="lblCouponGradeCode" runat="server" Text='<%#Eval("CouponGradeCode")%>'></asp:Label>   
                            </td>
                            <td align="center">
                            <asp:Label ID="lblCouponGrade" runat="server" Text='<%#Eval("CouponGrade")%>'></asp:Label>  
                            </td>--%>
                                        <td align="center">
                                            <asp:Label ID="lblOrderQTY" runat="server" Text='<%#Eval("OrderQTY")%>'></asp:Label>
                                        </td>
                                        <td align="center">
                                            <asp:Label ID="lblPickQTY" runat="server" Text='<%#Eval("PickQTY")%>'></asp:Label>
                                        </td>
                                        <td align="center">
                                            <asp:Label ID="lblFirstCouponNumber" runat="server" Text='<%#Eval("FirstCouponNumber")%>'></asp:Label>
                                        </td>
                                        <td align="center">
                                            <asp:Label ID="lblEndCouponNumber" runat="server" Text='<%#Eval("EndCouponNumber")%>'></asp:Label>
                                        </td>
                                        <%--              <td align="center">
                                <asp:Label ID="lblCouponBatchID" runat="server" Text='<%#Eval("CouponBatchID")%>'></asp:Label>
                            </td>--%>
                                        <%--                            <td align="center">
                             <asp:Label ID="lblPickDatetime" runat="server" Text='<%#Eval("PickDatetime")%>'></asp:Label>
                            </td>--%>
                                    </tr>
                                </ItemTemplate>
                                <FooterTemplate>
                                    <tr>
                                        <td align="center">
                                        </td>
                                        <td align="center">
                                            总计：
                                        </td>
                                        <td align="center">
                                            <asp:Label ID="lblTotalOrderQTY" runat="server"></asp:Label>
                                        </td>
                                        <td align="center" colspan="3">
                                            <asp:Label ID="lblTotalPickQTY" runat="server"></asp:Label>
                                        </td>
                                    </tr>
                                    </table>
                                </FooterTemplate>
                            </asp:Repeater>
                        </td>
                    </tr>
                </table>
                <div style="padding-bottom: 10px;">
                </div>
            </ItemTemplate>
        </asp:Repeater>
        <!--endprint-->
    </div>
    <uc2:checkright ID="Checkright1" runat="server" />
    </form>
</body>
</html>
