﻿@charset "utf-8";
/*
*lhgdialog采用先进的自适应九宫格结构
*QQ2011皮肤-注释版
*【一丝冰凉】作品
*2011-11-28
*QQ:50167214
*/
/*样式顺序：skin outer border lt t rt l c inner dialog header title-bar title title-buttons icon main content footer r lb b rb */

/*皮肤设计原则：
*1.深入理解渐进增强的概念，体现到皮肤设计的每个细节中。皮肤无需刻意追求每个浏览器视觉上的完全统一，更不要走入1px的极端；
*2.不要过度干涉浏览器自身特性，例如使用 outeline:0 none 隐藏现代浏览器焦点（照顾弱势群体与键盘操作）；
*3.隐藏边框的最佳写法是 border:0 none;  http://www.blueidea.com/tech/web/2010/7417.asp
*4.给td或者tr添加边框会存在兼容性问题；
*5.按钮的设计不要太小，兼顾移动平台触摸屏的操作；
*6.Tips自身特性是自动消失，无特殊情况，不要显示关闭按钮，增加无谓的点击；
*7.lhgdialog采用九宫格结构，配合各种状态的class 可以制作出非常细腻的皮肤；
*8.实际使用中不要频繁遮罩，造成用户反感，遮罩颜色默认为保护眼睛的海天蓝。http://www.planeart.cn/?p=607
*/

/*公用部分-制作新皮肤从这里开始复制*/
/*基本重置*/
html{_background-image:url(about:blank);_background-attachment:fixed;zoom:1;}/*IE6下无抖动随屏滚动*/
body {_margin:0;/*IE6 BUG*/}
body, button, input, select, textarea, .ui_content { 
	font: 12px/1.333 tahoma, arial, \5b8b\4f53, sans-serif; }/* for ie tahom字体在各个浏览器保持良好的统一*/
body{ _margin:0;/*IE6 BUG*/ }
.ui_lock_scroll body { overflow:hidden;padding-right:17px; }/*隐藏锁屏和全屏时滚动条*/
.ui_lock_scroll { *overflow:hidden;}
.ui_max_fixed{padding-right:0}

/*QQ2011皮肤开始-结构层与样式层分离，方便制作皮肤*/
/*结构层*/
table.ui_border, table.ui_dialog {
	width:auto;
*border-collapse:collapse;/*现代浏览器有bug，参见【一丝冰凉】微博*/
	border-spacing:0;
}
.ui_dialog { border:1px solid #6E6E6E; }
.ui_border td, .ui_dialog td { padding:0; }


.ui_t, .ui_b,.ui_l, .ui_r { }/*上下左右四个边框*/
.ui_lb, .ui_rb, .ui_lt, .ui_rt {/*皮肤四个角*/
	width:0;
	height:0;
	*width:1px;/*IE6-7设为0会有偏*/
	*height:1px;
	/*display:none; 隐藏后如果设置inner边框会造成谷歌浏览器1px空隙*/
}
.ui_rb {
	display:block;
	width:12px;
	height:12px;
	position:absolute;
	bottom:-2px;
	right:-1px;
}/*右下角拖动优化*/
/*标题部分开始*/
.ui_title_bar {
	position:relative;
	height: 100%;
}
.ui_title {
	overflow:hidden;
	text-overflow: ellipsis;
	white-space:nowrap;/*firefox 不自动换行*/
	display:block;
	cursor:move;
	height:30px;	/*标题栏高度*/
	line-height:30px;
	padding:0 100px 0 6px;/*防止IE6按钮错位*/
	background:#7ac7e3;
}
.ui_title_icon {
	display: inline-block;
	height:100%;
	min-width:16px;
	width:16px;
	margin-right:5px;
	vertical-align:middle;
	background-position: center center;
	background-repeat:no-repeat;
}
.ui_title_buttons {
	position:absolute;
	top:0;
	top:-1px\9\0;/*IE9采用双边框修复渐变背景溢出问题*/
	right:5px;
	cursor:pointer;
	font-size:0;/*opera 空隙修复*/
	letter-spacing:-.5em; /*其他浏览器 空隙修复 宋体/Verdana为-.5em，Tahoma为-.333em，Arial为-.25em*/
}
/*标题部分结束*/
/*标题纯CSS按钮开始*/
.ui_min, .ui_max, .ui_close, .ui_res, .ui_rese {
	text-decoration:none;
	letter-spacing: normal; /* reset IE < 8 */
	text-align:center;
	display:inline-block;
	vertical-align:top;
	color:#FFF;
	font-size:16px;
	width:30px;
	height:20px;
	line-height:18px;/*按钮视觉居中*/
}
.ui_min, .ui_max, .ui_res,.ui_rese { position:relative; }
.ui_min b, .ui_max b, .ui_res_t, .ui_res_b ,.ui_rese_b,.ui_rese_t {
	display:block;
	position:absolute;
	overflow:hidden;
	cursor:pointer;
}
.ui_min b {
	top:10px;
	left:10px;
	width:10px;
	height:2px;
	border-bottom:2px solid #FFF;
}
.ui_max b {
	top:6px;
	left:10px;
	width:8px;
	height:5px;
	border:1px solid #FFF;
	border-top-width:2px;
}
.ui_res_t, .ui_res_b,.ui_rese_b,.ui_rese_t {
	top:8px;
	left:9px;
	width:8px;
	height:4px;
	border:1px solid #FFF;
	border-top-width:2px;
}
.ui_res_b,.ui_rese_b {
	top:5px;
	left:11px;
}
.ui_res_t,.ui_rese_t { background:#7ac7e3; }
.ui_res, .ui_rese { display:none; } /*默认隐藏 回复和 还原按钮*/
.ui_close { font-weight:600; }
/*标题按钮结束*/
/*对齐自适应*/
.ui_inner { background:#FFF; }/*主体背景色*/
.ui_main {
	min-width:12em;
	min-width:0\9/*IE8 BUG*/;
	text-align:center;
}/*超过最小宽度居中对齐*/
.ui_content {
	display:inline-block;
*display:inline;
	zoom:1;
	text-align:left;
}/*小于最小宽度左对齐*/
.ui_content.ui_state_full {
	display:block;
	width:100%;
	height:100%;
	margin:0;
	padding:0!important;
}/*加载iframe时设置为0*/
.ui_content.ui_state_full iframe{border-radius:0 0 5px 5px;/*实验性属性*/}
.ui_loading {
	width:96px;
	height:32px;
	text-align:left;
	text-indent:-9999em;
	overflow:hidden;
	background:url(icons/loading.gif) no-repeat center center;
}/*加载中*/
/*底部按钮层*/
.ui_buttons {
	padding:6px 10px 6px;
	text-align:right;
	white-space:nowrap;
	background:#e1f3f9;
}
/*按钮结构部分*/
.ui_buttons button {
	margin-left:10px;
	padding: 6px 10px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	line-height: 1;
*padding:4px 10px;
*height:2em;
	letter-spacing:2px;
	overflow:visible;
*width:1;}
 .ui_buttons button::-moz-focus-inner {
border:0;
padding:0;
margin:0;
}
/*按钮结构部分结束*/

.ui_icon_bg { margin:20px 0 20px 15px; }/*图标外边距*/
/*Tips部分*/
.ui_state_tips .ui_icon_bg { margin:8px 0 8px 8px; }/*主体图标边距控制*/
.ui_state_tips .ui_title_buttons, .ui_state_tips .ui_lt, .ui_state_tips .ui_rt { display:none; }/*隐藏无需显示结构*/
/*制作新皮肤到这里结束复制*/


/************
样式层开始
************/
.ui_inner { border-radius:6px; border:1px solid #6E6E6E\9\0; }

.ui_dialog {
	box-shadow:0 1px 5px rgba(0, 0, 0, .8);
-moz-transition:-moz-box-shadow linear .2s;
-webkit-transition: -webkit-box-shadow linear .2s;
transition: -webkit-box-shadow linear .2s;
	border-radius:5px;
	border:1px solid #68b5d8\9\0;/*修复IE9背景溢出*/
	border-left-color:#3992be\9\0;
	border-right-color:#95d7f1\9\0;
}
.ui_state_lock .ui_dialog { box-shadow:0 3px 18px rgba(33,82,106,.6);}/*锁屏时遮罩*/
.ui_state_drag .ui_dialog, .ui_state_lock.ui_state_drag .ui_dialog { box-shadow:none; }/*拖动时隐藏阴影，通过css3实现渐变动画*/

.ui_content { color:#666; }/*失去焦点*/
.ui_state_focus .ui_content { color:#232323; }/*获得焦点*/
.ui_state_focus .ui_title { color:#FFF; }
.ui_title {
	border-radius:4px 4px 0 0;
	font-size:14px;
	font-weight:bold;
	color:#EEE;
	text-shadow: 0 1px 1px #000;
	background: linear-gradient(left, #3992be, #95d7f1);
	background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#3992be), to(#95d7f1));
	background: -moz-linear-gradient(left, #3992be, #95d7f1);
	background: -o-linear-gradient(left, #3992be, #95d7f1);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3992be', endColorstr='#95d7f1', gradientType=1);
}
.ui_min, .ui_max, .ui_close, .ui_res, .ui_rese {
	border-left:1px solid #64a0b4;
	border-bottom:1px solid #6db0c1;
}
.ui_rese {
	font-size:12px;
	font-weight:600;
	line-height:20px;
}
.ui_min, .ui_rese { border-radius:0 0 0 4px; }
.ui_close {
	border-radius:0 0 4px 0;
	border-right:1px solid #3d90b5;
}

.ui_close:hover, .ui_close:focus {
	outline:0 none;
	box-shadow:0 0 10px #e56e51;
	-moz-transition:-moz-box-shadow linear .2s;/*按钮阴影动画*/
	-webkit-transition: -webkit-box-shadow linear .2s;
	transition: -webkit-box-shadow linear .2s;
	background:#dd5538;/*不写会造出ie9以下背景闪动*/
	background: linear-gradient(top, #dd5538, #ab9a9d);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dd5538), to(#ab9a9d));
	background: -moz-linear-gradient(top, #dd5538, #ab9a9d);
	background:	-o-linear-gradient(top, #dd5538, #ab9a9d);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd5538', endColorstr='#ab9a9d');/*IE 背景溢出bug 94d6f0*/
}
.ui_close:focus{box-shadow:none;}/*获得焦点隐藏阴影*/
.ui_min:hover, .ui_max:hover, .ui_res:hover, .ui_rese:hover, .ui_res:hover .ui_res_t, .ui_rese:hover .ui_res_t {
	outline:0 none;
	box-shadow:0 0 10px #00adfe;
	-moz-transition:-moz-box-shadow linear .2s;
	-webkit-transition: -webkit-box-shadow linear .2s;
	transition: -webkit-box-shadow linear .2s;
	background:#2c7fb1;/*不写会造出ie9以下背景闪动*/
	background: linear-gradient(top, #3fcafd, #52bfe6);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3fcafd), to(#52bfe6));
	background: -moz-linear-gradient(top, #0bbdfd, #52bfe6);
	background:-o-linear-gradient(top, #3fcafd, #76c0e0);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3fcafd', endColorstr='#52bfe6');/*IE 背景溢出bug*/
}

.ui_buttons {
	border-radius:0 0 4px 4px;
	zoom:1;/*haslayout，否则IE6-7无法显示渐变背景*/
	background: linear-gradient(left, #cad3df, #e1f3f9);
	background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#cad3df), to(#e1f3f9));
	background: -moz-linear-gradient(left, #cad3df, #e1f3f9);
	background: -o-linear-gradient(left, #cad3df, #e1f3f9);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cad3df', endColorstr='#e1f3f9', gradientType=1);
}
.ui_footer { border-radius:0 0 4px 4px; }/*底部td*/
/*底部按钮样式*/
.ui_buttons button {
	padding: 6px 10px; *padding:6px 10px 4px;
	color: #333;
	border: solid 1px #999;
	border-radius: 5px;
	border-radius: 0\9;/*IE9渐变溢出*/
	background: #DDD;
	background: linear-gradient(top, #FAFAFA, #E4E4E4);
	background: -moz-linear-gradient(top, #FAFAFA, #E4E4E4);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FAFAFA), to(#E4E4E4));
	background: -o-linear-gradient(top, #FAFAFA, #E4E4E4);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E4E4E4');
	text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0 -1px 0 rgba(0, 0, 0, .09);
-moz-transition:-moz-box-shadow linear .2s;
 -webkit-transition: -webkit-box-shadow linear .2s;
transition: box-shadow linear .2s;
}
.ui_buttons button:focus {
	outline:0 none;
	border-color:#2258e1;
	box-shadow:0 2px 6px #0e78c9;
}
.ui_buttons button:hover {
	color:#000;
	border-color:#666;
	box-shadow:none;
}
.ui_buttons button:active {
	border-color:#666;
	background: linear-gradient(top, #FAFAFA, #E4E4E4);
	background: -moz-linear-gradient(top, #FAFAFA, #E4E4E4);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FAFAFA), to(#E4E4E4));
	background: -o-linear-gradient(top, #FAFAFA, #E4E4E4);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E4E4E4');
}
.ui_buttons button[disabled] {
	cursor:default;
	color:#666;
	background:#DDD;
	border: solid 1px #999;
	filter:alpha(opacity=50);
	opacity:.5;
	box-shadow:none;
}
button.ui_state_highlight {
	color: #FFF;
	border: solid 1px #1c6a9e;
	background: #2288cc;
	background: linear-gradient(top, #33bbee, #2288cc);
	background: -moz-linear-gradient(top, #33bbee, #2288cc);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc));
	background: -o-linear-gradient(top, #33bbee, #2288cc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc');
	text-shadow: 0 -1px 1px #1c6a9e;
}
button.ui_state_highlight:hover {
	color:#FFF;
	border-color:#555;
}
button.ui_state_highlight:active {
	border-color:#1c6a9e;
	background: linear-gradient(top, #33bbee, #2288cc);
	background: -moz-linear-gradient(top, #33bbee, #2288cc);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc));
	background: -o-linear-gradient(top, #33bbee, #2288cc);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc');	
}
/*底部按钮样式结束*/


/*Tips 部分开始*/
.ui_state_tips .ui_border, .ui_state_tips .ui_inner, .ui_state_tips .ui_dialog {
	border:0 none;
	background:none;
	box-shadow:none;
	border-radius:0;
	filter:none;
}/*基本重置*/
.ui_state_tips .ui_content {
	font-weight:bold;
	font-size:14px;
	color:#666;
	text-align:center;
}
.ui_state_focus .ui_state_tips .ui_content { color:#323232; }/*高亮字体颜色*/

/*Tips(图片背景，IE6也支持圆角) End*/
.ui_state_tips .ui_dialog, .ui_state_tips .ui_l, .ui_state_tips .ui_r {
	background-image: url( "icons/gb_tip_layer.png" );
	_background-image:url("icons/gb_tip_layer_ie6.png");
	background-repeat:no-repeat;
}/*共用背景图片*/
.ui_state_tips .ui_l {
	background-position:-6px 0;
	left:-5px;
	width:5px;
	top:0;
}/*左侧背景侧样式*/
.ui_state_tips .ui_r {
	background-position:0 0;
	right:-6px;
	width:5px;
	top:0;
}/*右侧背景样式*/
.ui_state_tips .ui_dialog {
	background-position: 0 -54px;
	background-repeat: repeat-x;
	height:54px;
	overflow:hidden;
}/*主体内容背景*/
/*QQ2011皮肤结束*/


/*多皮肤共存部分（可删除）*/

/*JTips Start(优雅的自适应高度宽度，渐进增强)*/
/*公用类，调用时请参数诸如：skin:'i tips'*/
.tips .ui_state_tips .ui_l, .tips .ui_state_tips .ui_r { background:none; }
.tips .ui_state_tips .ui_content { padding:5px; color:#CCC; }
.tips .ui_state_focus .ui_state_tips .ui_content { color:#FFF; }/*高亮颜色*/
/*iTips
*2011-11-25
*/
.i .ui_state_tips .ui_inner {
	border:1px solid #FFF;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
	border-radius:5px;
}/*外边框*/
.i .ui_state_tips .ui_dialog {
	border:0 none;
	border-radius:4px;/*内边框*/
	height:20px;
	min-height:20px;
	background:none;/*IE 8-9*/
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FAFAFA), to(#E4E4E4));
	background:-moz-linear-gradient(top, #FAFAFA, #E4E4E4);
	background:-o-linear-gradient(top, #FAFAFA, #E4E4E4);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E4E4E4');
}

/*JTips Black  
*2011-11-25
*/
.black .ui_inner {
	border:1px solid #333; /*外边框*/
	box-shadow: 0 1px 6px #333;
	border-radius:5px;
}
.black .ui_dialog {
	border:1px solid #555;
	border-radius:4px; /*内边框*/
	height:20px;
	min-height:20px;
	background:none;/*IE 8-9*/
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(35,35,35,.8)), to(rgba(0,0,0,.9)));
	background:-moz-linear-gradient(top, rgba(35,35,35,.8), rgba(0,0,0,.9));
	background:-o-linear-gradient(top, rgba(35,35,35,.8), rgba(0,0,0,.9));
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#000000');
}
/*JTips Black End*/

/*JTips Blue  
*2011-11-25
*/
.blue .ui_state_tips .ui_inner {
	border:1px solid #0b6693; /*外边框*/
	box-shadow: 0 1px 6px #082556;
	border-radius:5px;
}
.blue .ui_state_tips .ui_dialog {
	border:1px solid #5083db;
	border-radius:4px; /*内边框*/
	height:20px;
	min-height:20px;
	background:none;/*IE 8-9*/
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(26,140,211,.8)), to(rgba(3,59,154,.9)));
	background:-moz-linear-gradient(top, rgba(26,140,211,.8), rgba(3,59,154,.9));
	background:-o-linear-gradient(top, rgba(26,140,211,.8), rgba(3,59,154,.9));
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a8cd3', endColorstr='#033b9a');
}
/*JTips Blue End*/


