﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Delete.aspx.cs" Inherits="Edge.Web.File.MemberMasterFile.Education.Delete" %>

<%@ Register Src="~/Controls/checkright.ascx" TagName="checkright" TagPrefix="uc2" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
	<head id="HEAD1" runat="server">
	    <title>Delete</title>		   
	</head>
	<body style="padding:10px;">
    <form id="Form1" method="post" runat="server">
    <div class="navigation">
        <span class="back"><a href="#"></a></span><b>您当前的位置：<%=this.PageName %></b>
    </div>

    <div style="margin-top:10px;text-align:center;"></div>	
    <uc2:checkright ID="Checkright1" runat="server" />
    </form>
	</body>
</html>
