/************************************************************************************
RESET
*************************************************************************************/
html, body,ul,ol ,h1{
	margin: 0;
	padding: 0;
}
img, fieldset {
	border: 0;
}

ul,ol ,h1{
  list-style-type:none;
}
  

/* set image max width to 100% */
img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

body{
	font-family:"微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", Arial, Helvetica, sans-serif;
	font-size:14px;
	color: #343639;
}
/************************************************************************************
common
*************************************************************************************/
.before{
    *zoom: expression(
            this.runtimeStyle.zoom="1",
            this.insertBefore(document.createElement("small"),this.childNodes[0]).className="c-before"
    );
}
.after{
    *zoom: expression(
            this.runtimeStyle.zoom="1",
            this.appendChild(document.createElement("small"),this.childNodes[0]).className="c-after"
    );
}


.pseudo{
    *zoom: expression(
            this.runtimeStyle.zoom="1", 
            this.insertBefore(document.createElement("small"), this.childNodes[0]).className="c-before",
            this.appendChild(document.createElement("small")).className="c-after"
    );
}

.before:before,
.after:after,
.pseudo:before,
.pseudo:after,
.before > .c-before,
.after > .c-after,
.pseudo > .c-before,
.pseudo > .c-after{
    content: "";
    position: absolute;
}


.margin{
	max-width:640px;
	min-width:320px;
	margin:0 auto;
}


.sev-header{
	background-color:#fe7c23;
	padding: 15px 0;
}

.logo{
	display:block;
    
	width: 45%;
	margin: 0 auto;
}

.sev-content-container{
	background-color:#f1f1f1;
}

.content{
	padding: 25px 6% 40px 6%;
}

.shadow,
.btn,
.coupon-box{
	-webkit-box-shadow:3px 3px 0px 0px #BEBEBE;
	-moz-box-shadow:3px 3px 0px 0px #BEBEBE;
	-o-box-shadow:3px 3px 0px 0px #BEBEBE;
	-ms-box-shadow:3px 3px 0px 0px #BEBEBE;
	box-shadow:3px 3px 0px 0px #BEBEBE;
}


.btn-container{
	text-align:center;
	margin-top: 10px;
}



.icon-share:before{
	content:'';
	position:absolute;
	background-image: url('../../images/common/icon_share.png');
	background-repeat: no-repeat;
	width: 30px;
	padding-top: 30px;
	left: 52px;
}

.btn{
	display:inline-block;
	color:#fff;
	background-color:#ffa23f;
	font-size: 1.8em;
	padding: 15px 25px;
	font-weight: bold;
	margin: 10px;
}

.coupon-box-date{
	background-color:#4eb995;
	padding:2%;
	color:#fff;
	font-size: 1.3em;
}

.coupon-box-content{
	background-color:#fff;
	padding:4%;
}

.coupon-box-content h2{
	margin:0;
	text-align:center;
	font-size: 2.3em;
}

.coupon-box-content .figure{
	text-align:center;
	margin: 2% 0;
}

.coupon-list{
	color: #666a70;
	line-height: 1.5em;
	font-weight: bold;
	font-size: 1.1em;
}

.apple-store{
	display:block;
	text-align: center;
	font-size: 1.5em;
	margin-top: 6%;
}

.apple-store > strong,
.apple-store:before{
	vertical-align:middle;
}

.apple-store:before{
	content:'';	
	display:inline-block;
	background-image: url('../../images/common/apple_app.png');
	background-repeat:no-repeat;
	background-position:top left;
	width: 148px;
	padding-top: 43px;
	margin-right:10px;
}

.scroller-viewport{
	white-space:nowrap;
	overflow:hidden;
}

.scrooler-item{
	display:inline-block;
}

.scroller-control{
	text-align:center;
}

.scroller-control > li{
	display:inline-block;
	width:16px;
	height:16px;
	background-image: url('../../images/common/bullet.png');
	background-repeat: no-repeat;
	margin:0 5px;
	cursor:pointer;
	cursor:hand;
}

.scroller-control > li.current{
	background-image: url('../../images/common/bullet_current.png');
	cursor:default;
}

.icon-share{
	position:relative;
	padding-left: 100px;
	padding-right: 60px;
}

@media (max-width:480px){
	body{
		font-size:12px;
	}	
	
	.coupon-box-content h2{
		font-size:1.6em;
	}
	
	.coupon-box-content > .figure{
		width:70%;
		margin:0 auto;
	}
	
	.btn,
	.apple-store{
		font-size:1.2em;
	}
	
	.apple-store:before{
		width:100px;
		background-size:100%;	
		padding-top: 31px;
	}
	
	.icon-share{
		padding-left:90px;
	}
	
	.icon-share:before{
		width:20px;
		background-size:100%;
	}
	
	
}