﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="EOD.aspx.cs" Inherits="Edge.Web.Operation.AppOperation.EOD" %>


<%@ Register Src="~/Controls/checkright.ascx" TagName="checkright" TagPrefix="uc2" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div class="navigation">
        <span class="back"><a href="#"></a></span><b>您当前的位置：<%=this.PageName %></b>
    </div>
    <div style="padding-bottom: 10px;">
        
    </div>
    <div style="text-align:center;padding-top:40px;">
    当前工作日：<asp:Label ID="lbNowBusDate" runat="server" Text=""></asp:Label><br /><br />
    <span class="btn_bg"><asp:LinkButton ID="lbSODEOD" runat="server" onclick="lbSODEOD_Click">SOD/EOD</asp:LinkButton></span>    
    </div>
    <uc2:checkright ID="Checkright1" runat="server" />
    </form>
</body>
</html>
