﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Add.aspx.cs" Inherits="Edge.Web.File.MasterFile.IndustryGroup.CardIssuer.Brand.CardType.CardGrade.CouponGrade.Add" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <ext:PageManager ID="PageManager1" AutoSizePanelID="SimpleForm1" runat="server" />
    <ext:SimpleForm ID="SimpleForm1" ShowBorder="false" ShowHeader="false" runat="server"
        BodyPadding="10px" EnableBackgroundColor="true" Title="SimpleForm" AutoScroll="true"
        LabelAlign="Right">
        <Toolbars>
            <ext:Toolbar ID="Toolbar1" runat="server">
                <Items>

                    <ext:Button ID="btnClose" Icon="SystemClose" EnablePostBack="false" runat="server"
                        Text="关闭">
                    </ext:Button>
                    <ext:ToolbarSeparator ID="ToolbarSeparator1" runat="server">
                    </ext:ToolbarSeparator>
                    <ext:Button ID="btnSaveClose" ValidateForms="SimpleForm1" Icon="SystemSaveClose"
                        runat="server" Text="保存后关闭"  OnClick="btnSaveClose_Click">
                    </ext:Button>
                </Items>
            </ext:Toolbar>
        </Toolbars>
        <Items>
            <ext:HiddenField ID="RuleType" runat="server">
            </ext:HiddenField>
            <ext:HiddenField ID="PageFlag" runat="server">
            </ext:HiddenField>
            <ext:DropDownList ID="BrandID" runat="server" Label="品牌：" AutoPostBack="true" OnSelectedIndexChanged="BrandID_SelectedIndexChanged" Resizable="true">
            </ext:DropDownList>
            <ext:DropDownList ID="CouponTypeID" runat="server" AutoPostBack="true" Label="优惠券类型：" Resizable="true">
            </ext:DropDownList>
            <ext:NumberBox ID="HoldCount" runat="server" Label="优惠券数量：" NoNegative="true" NoDecimal="true"  MaxValue="100000000">
            </ext:NumberBox>
            <ext:Label ID="lblDesc" runat="server" Text="*为必填项"  CssStyle="font-size:12px;color:red"></ext:Label>
        </Items>
    </ext:SimpleForm>
    </form>
</body>
</html>
