﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="List.aspx.cs" Inherits="Edge.Web.File.MasterFile.IndustryGroup.CardIssuer.Brand.CardType.CardGrade.Store.List" %>

<%@ Register Src="~/Controls/checkright.ascx" TagName="checkright" TagPrefix="uc2" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>

    <script type="text/javascript" src='<%#GetjQueryPath() %>'></script>

    <script type="text/javascript" src='<%#GetJSFunctionPath()%>'></script>

    <script type="text/javascript" src='<%#GetJSPaginationPath() %>'></script>

    <link rel="stylesheet" type="text/css" href='<%#GetPaginationCssPath() %>' />
</head>
<body >
    <form id="form1" runat="server">
            <ext:PageManager ID="PageManager1" AutoSizePanelID="Grid1" runat="server" />
    <ext:Grid ID="Grid1" ShowBorder="false" ShowHeader="false" AutoHeight="true" PageSize="3"
        runat="server" EnableCheckBoxSelect="True" DataKeyNames="CardGradeStoreConditionID,StoreCode,StoreName"
        AllowPaging="true" IsDatabasePaging="true" EnableRowNumber="True" AutoWidth="true"
        ForceFitAllTime="true" OnPageIndexChange="Grid1_PageIndexChange">
        <Toolbars>
            <ext:Toolbar ID="Toolbar1" runat="server">
                <Items>
                     <ext:Button ID="btnClose" runat="server" Text="关闭" Icon="SystemClose" />
                    <ext:Button ID="btnNew" Text="新增" Icon="Add" EnablePostBack="false" runat="server" />
                    <ext:Button ID="btnDelete" Text="删除" Icon="Delete" OnClick="btnDelete_Click" runat="server" />

                </Items>
            </ext:Toolbar>
        </Toolbars>
        <Columns>
            <ext:TemplateField Width="60px" HeaderText="店铺编号">
                <ItemTemplate>
                    <asp:Label ID="lblStoreCode" runat="server" Text='<%# Eval("StoreCode") %>'></asp:Label>
                </ItemTemplate>
            </ext:TemplateField>
            <ext:TemplateField Width="60px" HeaderText="店铺名称">
                <ItemTemplate>
                    <asp:Label ID="lblStoreName" runat="server" Text='<%# Eval("StoreName") %>'></asp:Label>
                </ItemTemplate>
            </ext:TemplateField>
        </Columns>
    </ext:Grid>
    <ext:Window ID="Window1" Title="编辑" Popup="false" EnableIFrame="true" runat="server"
        CloseAction="Hide" OnClose="WindowEdit_Close"  IFrameUrl="about:blank"
        EnableMaximize="true" EnableResize="true" Target="Top" IsModal="True" Width="750px" 
        Height="450px">
    </ext:Window>
    <ext:Window ID="HiddenWindowForm" Title="" Popup="false" EnableIFrame="true" runat="server"
        CloseAction="Hide" OnClose="WindowEdit_Close" IFrameUrl="about:blank" EnableMaximize="false"
        EnableResize="true" Target="Top" IsModal="True" Width="50px" Height="50px" Left="-1000px"
        Top="-1000px">
    </ext:Window>
   <%--   <script type="text/javascript">
          $(function () {
              var type = $.getUrlParam("type");

              if (type == "1") {
                  $("input[type='checkbox']").attr("disabled", "disabled");
              }
          });
    </script>
    <div class="navigation">
        <span class="back"><a href="#"></a></span><b>您当前的位置：卡级别的店铺绑定列表</b>
    </div>
    <div style="padding-bottom: 10px;">
    </div>
    <asp:Repeater ID="rptList" runat="server">
        <HeaderTemplate>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="msgtablelist">
                <tr>
                    <th width="6%">
                        <input type="checkbox" onclick="checkAll(this);" />选择
                    </th>
                    <th width="8%">
                        店铺编号
                    </th>
                    <th width="10%">
                        店铺名称
                    </th>
                    <%--                 <th width="10%">
                        品牌
                    </th>--
                </tr>
        </HeaderTemplate>
        <ItemTemplate>
            <tr>
                <td align="center">
                    <asp:CheckBox ID="cb_id" CssClass="checkall" runat="server" /><asp:HiddenField ID="lb_id"
                        runat="server" Value='<%#Eval("CardGradeStoreConditionID")%>'></asp:HiddenField>
                </td>
                 <td align="center">
                    <asp:Label ID="lblStoreCode" runat="server" Text='<%#Eval("StoreCode")%>'></asp:Label>
                </td>
                <td align="center">
                    <asp:Label ID="lblStoreName" runat="server" Text='<%#Eval("StoreName")%>'></asp:Label>
                </td>
                <%--                <td align="center">
                    <asp:Label ID="lblIndustryName1" runat="server" Text='<%#Eval("BrandName")%>'></asp:Label>
                </td>--
            </tr>
        </ItemTemplate>
        <FooterTemplate>
            </table>
        </FooterTemplate>
    </asp:Repeater>
    <div class="spClear">
    </div>
    <div style="line-height: 30px; height: 30px;">
        <div id="Pagination" class="right flickr">
        </div>
        <div class="left">
            <span class="btn_bg">
<%--                <asp:LinkButton ID="lbtnDel" runat="server" OnClick="lbtnDel_Click">删除</asp:LinkButton>
                <asp:LinkButton ID="lbtnAdd" runat="server" OnClick="lbtnAdd_Click">添加</asp:LinkButton>--
                <ext:Button ID="btnClose" runat="server" Text="关闭" Icon="SystemClose" />
                    <ext:Button ID="Button1" Text="新增" Icon="Add" EnablePostBack="false" runat="server" />
                    <ext:Button ID="Button2" Text="删除" Icon="Delete" OnClick="btnDelete_Click" runat="server" />
            </span>
        </div>
    </div>--%>
    <uc2:checkright ID="Checkright1" runat="server" />
    </form>

<%--    <script type="text/javascript">
        
         $(function() {
            //分页参数设置
            $("#Pagination").pagination(<%=pcount %>, {
            callback: pageselectCallback,
            prev_text: "« ",
            next_text: " »",
            items_per_page:<%=pagesize %>,
		    num_display_entries:3,
		    current_page:<%=page %>,
		    num_edge_entries:2,
		    link_to:"?page=__id__&CardGradeID=<%=this.cardGradeID %>&StoreConditionTypeID=<%=this.storeConditionTypeID %>&type=<%=this.type %>"
           });
        });
        function pageselectCallback(page_id, jq) {
           //alert(page_id); 回调函数，进一步使用请参阅说明文档
        }

        $(function() {
            $(".msgtablelist tr:nth-child(odd)").addClass("tr_bg"); //隔行变色
            $(".msgtablelist tr").hover(
			    function() {
			        $(this).addClass("tr_hover_col");
			    },
			    function() {
			        $(this).removeClass("tr_hover_col");
			    }
		    );
        });
    </script>--%>

</body>
</html>
